@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

body>.container {
	padding: 55px 2px 0;
}

.join {
	background-color: #000000;
}

.container .text-muted {
	margin: 20px 0;
}

.navbar {
	height: 60 px;
	margin-bottom: 20px;
	width: 100%;
	color: #000000;
}

.navbar-default {
	font-size: 16px;
	color: #000000;
}

.nav {
	font-size: 16px;
	font-family: "Century Gothic", serif;
	color: #000000;
}

.logo {
	font-family: "Century Gothic", serif;
}

#logo-button {
	display: block;
	margin: 0 auto;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	background-color: #c8c8c8;
	color: #333333;
}

.wrapper {
	position: relative;
	height: 80vh;
}

input:focus {
	text-align: left;
	background-color: #daedf3;
}