@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

body>.container {
	padding: 55px 2px 0;
}

.backgroundimg {
	background-image: url("../images/back2.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 93vh;
	width: 99vw;
}

.jumbotron {
	position: absolute;
	top: 50%;
	left: 53%;
	transform: translate(-55%, -45%);
	border-style: solid;
	/* font-size: 1vw; */
}

.navbar-brand {
	font-size: 16px;
	font-family: "Century Gothic", serif;
	color: #000000;
}

.logo {
	font-family: "Century Gothic", serif;
}

#logo-button {
	display: block;
	margin: 0 auto;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	background-color: #c8c8c8;
	color: #333333;
}

.wrapper {
	position: relative;
	height: 80vh;
}

input:focus {
	text-align: left;
	background-color: #daedf3;
}